// ==========================
// Non-bootstrap Custom Classes
// ==========================
body {
    min-height: 100vh; //to push footer to the bottom
}
.flex-vert-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.custom-active {
    background: $primary;
}
